<form hx-post="/qbank/answer" hx-target="#answer-area">
    <h2>{{ question.content }}</h2>
    <input type="hidden" name="question_id" value="{{ question.id }}">
    <span>
        <input type="radio" name="answer" value="{{ question.option_a }}">
        {{ question.option_a }}
    </span><br>
    <span>
        <input type="radio" name="answer" value="{{ question.option_b }}">
        {{ question.option_b }}
    </span><br>
    <span>
        <input type="radio" name="answer" value="{{ question.option_c }}">
        {{ question.option_c }}
    </span><br>
    <span>
        <input type="radio" name="answer" value="{{ question.option_d }}">
        {{ question.option_d }}
    </span><br>
    <input type="submit" value="Answer">
</form>
<div id="answer-area"></div>